<%- include("../header"); %>
<div class="col-12">

    <h1>Agregar profesor</h1>
    <form method="post" action="/profesor/insertar">
        <div class="form-group">
            <label for="doc_id">doc_id</label>
            <input required id="doc_id" placeholder="Id del profesor" class="form-control" type="text"
                name="doc_id">
        </div>
        <div class="form-group">
            <label for="nombre_completo">nombre</label>
            <input required id="nombre_completo" placeholder="Nombre del Profesor" class="form-control" type="text"
                name="nombre_completo">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input required id="email" placeholder="Email del profesor" class="form-control" type="text"
                name="email">
        </div>
        <div class="form-group">
            <label for="telefono">telefono</label>
            <input required id="telefono" placeholder="Telefono del profesor" class="form-control" type="text"
                name="telefono">
        </div>
        <div class="form-group">
            <label for="contrasena">contraseña</label>
            <input required id="contrasena" placeholder="Contraseña del profesor" class="form-control" type="text"
                name="contrasena">
        </div>
        
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/profesor" class="btn btn-primary">Volver</a>
        
    </form>
</div>
<%- include("../footer"); %>